<h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p>
<center>
<div class="user form">
  <%if flash[:error]%>
<div class="alert alert-warning" role="alert">
  <%= flash[:error] %>
</div>
<%end%>
  <% if flash[:alert]%>

  <div class="alert alert-danger" role="alert">
  <%= flash[:alert] %>
</div>
  
  <%end%>
<%= form_for :session, url: login_path,  class:"form-group" do |f| %>
 
   <div class="col">
  <%= octicon "mail", :color => "light" %> Email: <%= f.text_field :email, class: "form-control" %><br/>
  </div>
   <div class="col">
   <%= octicon "lock" %>
  Password: <%=f.text_field    :password, class:"form-control", type: "password" %>
  </div>
  <br>
  Remeber me  
  <%= f.check_box :remember %>
  
   <br> <br>
   
  <%= f.submit value:"Login", class:"btn btn-dark" %>
   
  
<% end %>
</div>
</center>