
<%@playlist.songs.all.each do |song| %>
 
   <tr>
   <div>
      <th scope="row"><%=song.id%></th>
      <td><%=song.artrist%></td>
      

    <td><%=song.name  %> <%=link_to song.link, "rel" =>"noopener noreferrer", "target"=>"_blank">"open video",  title:"Play me"  do %>
      <% octicon "play" %>
        <%end%>  
    <%= link_to list_destroy_path(playlist_id: @playlist.id, song_id: song.id),class: "delete_song", method: :delete, remote: true do %>
        <% octicon "trashcan" %>
        <%end%>
      

      
    
 
      </td>
      </div >
      <td><%=song.album%></td>
    </tr>
    <% end %>  

