<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<%=gravatar_for @user%>
<div class="name">

<h1><%=@user.name%></h1>
</div>
<%= render "shared/list"%>
<%= render "shared/create#song"%>
<div class="playlist">
<h2> Your playlist </h2>

<%=render 'shared/playlist-container'%>

</div>
