

<div class= "flash">

</div>

<div class="user">


<% if flash[:welcome]%>
<div class="alert alert-primary alert-dismissible fade show" role="alert">
  <center> <h3><%=flash[:welcome]%></h3></center>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<%end%>



<div class= "write">
</div>
</div>
<%=gravatar_for @user%><br>
<%= render "shared/list"%>
<%if @user.playlists.any?%>


<%@playlist= @user.playlists.all%>
<div class="playlist bg-dark" >
<h2> <center>Your playlists </center></h2>

<div class= "listUpdate">
<%=render 'shared/playlist-container', object: @playlist %>
</div>
<%end%>



</div>
<%require 'rspotify'

RSpotify.authenticate("d571e4fbe871458994520ef653c4e985", "aa03ad4a6ec144ed9f91607d599f82d4")
%>
<%sorry = RSpotify::Track.search("Sorry").first%>
<%=RSpotify::Player.play_track(sorry)%>



<div class="container">
  <div class="row ">
    <div class="col border">col</div>
    <div class="col border">col</div>
    <div class="w-100"></div>
    <div class="col border">col</div>
    <div class="col border">col</div>
  </div>
</div>

