
<div class="user">


<% if flash[:welcome]%>
<div class="alert alert-primary alert-dismissible fade show" role="alert">
  <center> <h3><%=flash[:welcome]%></h3></center>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<%end%>
<%=gravatar_for @user%>
<h1><%=@user.name%></h1>

<%= render "shared/list"%>
<%=button_to "find", songFind_path, method: :get%>
<div class= "write">
</div>
</div>

<%if @user.playlists.any?%>

<%@playlist= @user.playlists.all%>
<div class="playlist">
<h2> Your playlist </h2>

<%=render 'shared/playlist-container', object: @playlist %>


<%end%>



</div>

