
<button type="button" class="btn btn-light" data-toggle="modal" data-target="#SongModal">
  Create song
</button>



<div class="modal fade" id="SongModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create song</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      
        <%=form_for :song, url: songcreate_path, remote: true do |f| %>
        <p>Song title:   <span><%=f.text_field :name%></p><br>
        <p>Artrist name: <%=f.text_field :artrist%></p><br>
        <p>Youtube url:  <%=f.text_field :url%></p><br> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%=f.submit class:"btn btn-primary"%>
        <%end%>
      </div>
    </div>
  </div>
</div>

