
<header class= "navbar-fixed-top"> 
<div>
<center>

<h1><%=link_to "Music app", root_path%></h1>
<center>
</div>
<nav class="navbar  navbar-dark bg-dark " >
    
   
   <ul id= "menu" style="list-style-type:none;" class="nav navbar-nav navbar-right">
   <%if logged_in? %>
      <li ><%= link_to 'User page', user_path , class:"btn btn-light"%></li>
      <%else%>
      <li><%= link_to 'Home', root_path,  class:"btn btn-light"%></li>
   <%end%>
   
      <li><%= link_to "Sign up", signup_path, class:"btn btn-light" %> </li>
      <li> <%=link_to "Login", login_path,class:"btn btn-light" %></li>
      
      <li> <%=link_to "Songs", songs_path, class:"btn btn-light"%></li>
      <%if logged_in?%> 
      <%= render 'shared/dropdown'%>
      <%end%>
    </ul>
   <div>
   <% if logged_in? && current_user.admin? %>
   <%= render "shared/create#song"%>
   <%end%>
    <input  type="text" placeholder="Search.."   class="btn btn-light"> <%=octicon "search",:type=> "light"%>
    
    </div>
</nav>


<header>
