<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%=render 'shared/nav'%>
    <%= yield %>
    
  </body>
  <footer class="navbar  navbar-dark bg-dark fixed-bottom">
  <time><iframe src="http://free.timeanddate.com/clock/i7422lsj/n691/bo2/th1" frameborder="0" width="59" height="20"></iframe>
</time>
  </footer>
</html>
